*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body
{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif
}

header
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow-x: hidden;

    h1{
        letter-spacing: 20px;
        font-weight: 300;
        font-size: clamp(16px, 1.5vw, 2vw);
    }

    nav ul 
    {
        display: flex;
        list-style: none;
        gap: 10px;
        
        li a{
            text-decoration: none;
            color: black;
        }
    }
}

main {
    overflow-x: hidden;
    section{
        height: 100vh;
        width: 100vw;
    }

}
    
.hero 
{
    display: grid;
    grid-template-columns: 30% 1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-template-areas: "div1 div3 div3"
                         "div2 div3 div3";
    position: relative;
    

    .div1
    {
        grid-area: div1;
    
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 30vw;
            font-weight: 600;
            top: 0px;
            right: 15%;
            z-index: -1;
            line-height: 0.9;
            position: absolute;
        }
        
    }
    .div2
    {
        grid-area: div2;
        
        padding: 10px 40px;

        h2{
            font-weight:300;
            font-size: 2vw;
            span{
                font-style: italic;
            }
        }
        button{
            padding: 10px;
            border: 1px solid rgba(69, 68, 68, 0.74);
            border-radius: 20px;
            margin-top: 20px;
        }
    }.div3
    {
        grid-area: div3;
        display: flex;
        align-items: end;
        justify-content: end;
        

        img{
            
            height: 45vw;
            
            
        }
    }
}

@media(max-width: 768px)
{
    header nav 
    {
        display: none;
    }
    main .hero
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "div1"
                             "div3"
                             "div2";
        .div3{
            justify-content: end;
            align-items: center;

        }

}
}

/* Section mvp*/


.mvp
{
    display: grid;
    grid-template-columns: 60% 1fr ;
    grid-template-rows: 1fr;
    grid-template-areas: "left-section right-section";
    padding: 0px 6vw;
    .right-section{
        
        grid-area: right-section;
        display: flex;
        justify-content: center;
        
        
        align-items: center;
        img{
            height: 600px;
            width: 400px;
            border-radius: 10px;
            object-fit: cover;
        }

    }
    .left-section{
           
        grid-area: left-section;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "div1 div2 div3"
                             "div4 div4 div5";

        .div1{
            
            grid-area: div1;
            align-self: end;
            text-align: center;
            padding: 10px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);

            h3{
                font-size: 50px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.661);
            }
            p{
                font-size: 20px;
                font-weight: 300;
                color: rgba(0, 0, 0, 0.616);
            }
        }
        .div2{
            
            grid-area: div2;
            align-self: end;
            text-align: center;
            padding: 10px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            border-left: 2px solid rgba(0, 0, 0, 0.1);

            h3{
                font-size: 50px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.661);
            }
            p{
                font-size: 20px;
                font-weight: 300;
                color: rgba(0, 0, 0, 0.616);
            }
        }
        .div3{
            
            grid-area: div3;
            align-self: end;
            text-align: center;
            padding: 10px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            border-left: 2px solid rgba(0, 0, 0, 0.1);

            h3{
                font-size: 50px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.661);
            }
            p{
                font-size: 20px;
                font-weight: 300;
                color: rgba(0, 0, 0, 0.616);
            }
        }
        .div4{
            
            grid-area: div4;
            padding: 10px;
            
            
            

            h3{
                font-size: 90px;
                letter-spacing: 50px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.661);
            }
            p{
                font-size: 30px;
                font-style: italic;
                font-weight: 300;
                color: rgba(0, 0, 0, 0.616);
                margin-left: 150px;
            }

            
        }
        .div5{
            
            grid-area: div5;
            text-align: center;
            padding: 10px;
            align-self: flex-start;
            border-left: 2px solid rgba(0, 0, 0, 0.1);


            h3{
                font-size: 50px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.661);
                
            }
            p{
                font-size: 20px;
                font-weight: 300;
                color: rgba(0, 0, 0, 0.616);
            }
        }
    }
}

@media(max-width:768px)
{
    .mvp
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "left-section"
                             "right-section";
        .left-section{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto auto;
            grid-template-areas: "div1 div2"
                                 "div3 div3"
                                 "div4 div4"
                                 "div5 div5";

            .div1, .div2, .div3, .div5{
                border-left: none;
                align-self: center;
            }
            .div4{
                text-align: center;
                border-bottom: 2px solid rgba(0, 0, 0, 0.1);
                h3{
                    font-size: 70px;
                    letter-spacing: 20px;
                }
                p{
                    text-align: center;
                    font-size: 20px;
                }
            }
            
        }
        .right-section{
            img{
                height: 300px;
            }
        }
    }
}

/* Form styles */
.form{
    
    display: flex;
    align-items: center;
    justify-content: center;

    .main{
        height: 80%;
        width: 90%;
        border-radius: 10px;
        background-color: #2e292a;
        display: grid;
        grid-template-columns: 60% 1fr;
        grid-template-rows: 1fr 20%;
        grid-template-areas: "div1 form"
                             "div2 form";

                             
    

    .div1{
        grid-area: div1;
        color: white;

        padding: 100px;

        h2{
            font-size: 2.5vw;
            font-weight: 400;
        }
        p{
            margin-top: 5px;
            font-size: 1vw;
            font-weight: 300;
        }
    }
    .div2{
        grid-area: div2;
        
        display: flex;
        padding: 0px 100px;
        align-items: center;
        gap: 20px;

        button{
            padding: 10px 30px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            

            
        }
        i{
            margin: 0px 5px;
            transition: all 0.3s ease;
        }
        button:hover i{
            font-size: 18px;
            
            
            
        }
    }
    form{
        grid-area: form;
        margin: 20px;
        padding: 20px 15px;
        border-radius: 10px;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 30% 1fr;
        grid-template-areas: "form-div0 form-div0"
                             "form-div1 form-div2"
                             "form-div3 form-div3"
                             "form-div4 form-div4"
                             "form-div5 form-div5";

        .form-div0{
            grid-area: form-div0;
            margin-top: 20px;
            
        }
        div{
            

            input{
                width: 100%;
                height: 50%;
                margin-top: 5px;
                border-radius: 10px;
                border: 1px solid rgba(0, 0, 0, 0.205);
                padding: 0px 10px;
                
            }
            label
            {
                font-size: 14px;
                
            }
            
        }
        .form-div1{
            grid-area: form-div1;
            input{
                
                width: 98%;
            }
        }
        .form-div2{
            grid-area: form-div2;
        }
        .form-div3{
            grid-area: form-div3;
        }
        .form-div4{
            grid-area: form-div4;

            textarea{
                resize: none;
                width: 100%;
                height: 80%;
                margin-top: 5px;
                padding: 10px;
                border: 1px solid rgba(0, 0, 0, 0.205);
                border-radius: 10px;
            }
        }
        .form-div5{
            grid-area: form-div5;
            display: flex;
            justify-content: center;
            align-items: center;

            button{
                padding: 10px 50px;
                border-radius: 10px;
                border: none;
                background-color: #2e292a;
                color: white;
                cursor: pointer;


                i{
                    margin-right: 5px;
                }
            }
        }

    }
}
}



/* Footer styles */
footer{
    height: 100%;
    width: 100%;
    background: url(./bg-footer.jpg)no-repeat;
    background-size: cover;
    background-position:top;
    padding: 30px;
    display: flex;
    align-items: end;
    overflow: hidden;
    position: relative;

    button{
        padding: 10px 30px;
        border: none;
        background-color: black;
        color: white;
        border-radius: 30px;
        position: absolute;
        transition: all 0.4s ease;
    }
    button:hover{
        transform: scale(1.2);
        cursor: pointer;
    }
    .contact-us{
        top: 3%;
        right: 40%;

    }
    .sell-properties{
        top: 40%;
        right: 80%;
    }
    .buy-properties
    {
        top: 35%;
        right: 20%;
    }
    .contact
    {
        height: 40%;
        width: 100%;
        display:grid;
        grid-template-columns: 40% 1fr 1fr;
        grid-template-rows: 1fr 10%;
        grid-template-areas: "div1 div2 div3"
                             "div4 div4 div5";
        background-color: white;
        border-radius: 10px;

        
        .div1{
            grid-area: div1;
            padding: 20px 10px;

            h1{
                font-size: 1.3vw;
                font-weight: 400;
                letter-spacing: 50px;
            }
        }
        .div2{
            grid-area: div2;
            padding: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h6{
                font-size: 1.1vw;
                font-weight: 400;
            }

            ul 
            {
                margin-top: 30px;
                li{
                list-style:none;
                text-decoration:none;

                a{
                    text-decoration: none;
                    color: black;
                    font-size: 15px;
                }
            
                }
                li:hover{
                    text-decoration: underline;
                    cursor: pointer;}
            }
            }
        .div3{
            grid-area: div3;
            padding: 25px;

            
            h6{
                font-size: 1.1vw;
                font-weight: 400;
            }
            p{
                margin-top: 50px;
                font-size: 15px;
            }
            a{
                display: block;
                text-decoration: none;
                color: black;
                font-size: 15px;
            }
            a:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .div4{
            grid-area: div4;
            display: flex;
            align-items: center;
            padding: 10px;

            p{
                font-size: 14px;
                font-weight: 300;
            }
        }
        .div5{
            grid-area: div5;
            padding:0px 20px;
            display: flex;
            justify-content: end;

            ul{
                display: flex;
                gap: 25px;
                justify-content: end;
                align-items: center;
                
                li{
                    list-style: none;
                    font-size: 14px;
                }
            }
        }
    }
}
@media(max-width:763px)
{
    footer
    {
        
        .contact
        {
            height: auto;
            grid-template-columns: 1fr;
            grid-template-rows: 10% auto auto auto auto;
            grid-template-areas: "div1"
                                 "div2"
                                 "div3"
                                 "div4"
                                 "div5";
             .div2, .div3, .div4, .div5{
                text-align: center;
            }   
            .div2 ul{
                justify-content: center;
            }
            .div5 ul{
                justify-content: center;
            }
            .div1 h1{
                font-size: 20px;
                letter-spacing: 10px;
            }
        }
        .contact-us{
            display: none;

        }
        .sell-properties{
            
            display: none;
        }
        .buy-properties
        {
            display: none;
        }
    }
}
