* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  overflow-x: hidden;
}
header h1 {
  letter-spacing: 20px;
  font-weight: 300;
  font-size: clamp(16px, 1.5vw, 2vw);
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
header nav ul li {
  transition: all 0.3s ease;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}
header nav ul li:hover {
  transform: scale(1.2);
}

main {
  overflow-x: hidden;
}
main section {
  height: 100vh;
  width: 100vw;
}

.hero {
  display: grid;
  grid-template-columns: 30% 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "div1 div3 div3" "div2 div3 div3";
  position: relative;
}
.hero .div1 {
  grid-area: div1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .div1 h1 {
  font-size: 30vw;
  font-weight: 600;
  top: 0px;
  right: 15%;
  z-index: -1;
  line-height: 0.9;
  position: absolute;
}
.hero .div2 {
  grid-area: div2;
  padding: 10px 40px;
}
.hero .div2 h2 {
  font-weight: 300;
  font-size: clamp(24px, 2vw, 2.5vw);
}
.hero .div2 h2 span {
  font-style: italic;
}
.hero .div2 button {
  padding: 10px;
  border: 1px solid rgba(69, 68, 68, 0.74);
  border-radius: 20px;
  margin-top: 20px;
}
.hero .div3 {
  grid-area: div3;
  display: flex;
  align-items: end;
  justify-content: end;
}
.hero .div3 img {
  height: 45vw;
}

@media (max-width: 768px) {
  header nav {
    display: none;
  }
  main .hero {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "div1" "div3" "div2";
  }
  main .hero .div3 {
    justify-content: end;
    align-items: center;
  }
}
/* Section mvp*/
.mvp {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left-section right-section";
  padding: 0px 6vw;
}
.mvp .right-section {
  grid-area: right-section;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mvp .right-section img {
  height: 600px;
  width: 400px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.mvp .left-section {
  grid-area: left-section;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "div1 div2 div3" "div4 div4 div5";
}
.mvp .left-section .div1 {
  grid-area: div1;
  align-self: end;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.mvp .left-section .div1 h3 {
  font-size: 50px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.661);
}
.mvp .left-section .div1 p {
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.616);
}
.mvp .left-section .div2 {
  grid-area: div2;
  align-self: end;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}
.mvp .left-section .div2 h3 {
  font-size: 50px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.661);
}
.mvp .left-section .div2 p {
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.616);
}
.mvp .left-section .div3 {
  grid-area: div3;
  align-self: end;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}
.mvp .left-section .div3 h3 {
  font-size: 50px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.661);
}
.mvp .left-section .div3 p {
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.616);
}
.mvp .left-section .div4 {
  grid-area: div4;
  padding: 10px;
}
.mvp .left-section .div4 h3 {
  font-size: 90px;
  letter-spacing: 50px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.661);
}
.mvp .left-section .div4 p {
  font-size: 30px;
  font-style: italic;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.616);
  margin-left: 150px;
}
.mvp .left-section .div5 {
  grid-area: div5;
  text-align: center;
  padding: 10px;
  align-self: flex-start;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}
.mvp .left-section .div5 h3 {
  font-size: 50px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.661);
}
.mvp .left-section .div5 p {
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.616);
}

@media (max-width: 768px) {
  .mvp {
    grid-template-columns: 1fr;
    padding: 0px;
    grid-template-rows: auto auto;
    grid-template-areas: "left-section" "right-section";
  }
  .mvp .left-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "div1 div2" "div3 div3" "div4 div4" "div5 div5";
  }
  .mvp .left-section .div1, .mvp .left-section .div2, .mvp .left-section .div3, .mvp .left-section .div5 {
    border-left: none;
    align-self: center;
  }
  .mvp .left-section .div4 {
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
  .mvp .left-section .div4 h3 {
    font-size: 70px;
    letter-spacing: 20px;
  }
  .mvp .left-section .div4 p {
    text-align: center;
    font-size: 20px;
  }
  .mvp .right-section img {
    height: 300px;
  }
}
/*Cards Section*/
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 1fr;
  grid-template-areas: "div1 div2" "div3 div3";
  padding: 50px 10px;
}
.cards .div1 {
  grid-area: div1;
  display: flex;
  align-items: center;
  font-size: clamp(24px, 2.5vw, 3vw);
}
.cards .div2 {
  grid-area: div2;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  color: rgba(0, 0, 0, 0.616);
}
.cards .div2 button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid rgba(69, 68, 68, 0.74);
  cursor: pointer;
}
.cards .div2 button:hover {
  background-color: #2e292a;
  color: white;
}
.cards .div3 {
  grid-area: div3;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 20px;
}
.cards .div3 div {
  width: 30%;
  height: 60%;
  flex-shrink: 0;
}
.cards .div3 div h3 {
  font-size: clamp(18px, 1.5vw, 2vw);
  font-weight: 600;
  margin: 10px 0px;
}
.cards .div3 div p {
  font-size: clamp(14px, 1vw, 18px);
  font-weight: 300;
  color: rgba(0, 0, 0, 0.616);
  margin-left: 30px;
}
.cards .div3 div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}
.cards .div3::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10% 1fr;
    grid-template-areas: "div1" "div2" "div3";
  }
  .cards .div3 div {
    width: 40%;
    height: 40%;
  }
  .cards .div3 div p {
    margin-left: 10px;
  }
}
/* Form styles */
.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-section .main {
  height: 80%;
  width: 90%;
  border-radius: 10px;
  background-color: #2e292a;
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 1fr 20%;
  grid-template-areas: "div1 form" "div2 form";
}
.form-section .main .div1 {
  grid-area: div1;
  color: white;
  padding: 100px;
}
.form-section .main .div1 h2 {
  font-size: clamp(24px, 2.5vw, 3vw);
  font-weight: 400;
}
.form-section .main .div1 p {
  margin-top: 5px;
  font-size: clamp(14px, 1.1vw, 18px);
  font-weight: 300;
}
.form-section .main .div2 {
  grid-area: div2;
  display: flex;
  padding: 0px 100px;
  align-items: center;
  gap: 20px;
}
.form-section .main .div2 button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-section .main .div2 i {
  margin: 0px 5px;
  transition: all 0.3s ease;
}
.form-section .main .div2 button:hover i {
  font-size: 18px;
}
.form-section .main form {
  grid-area: form;
  margin: 20px;
  padding: 20px 15px;
  border-radius: 10px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 30% 1fr;
  grid-template-areas: "form-div0 form-div0" "form-div1 form-div2" "form-div3 form-div3" "form-div4 form-div4" "form-div5 form-div5";
}
.form-section .main form .form-div0 {
  grid-area: form-div0;
  margin-top: 20px;
}
.form-section .main form div input {
  width: 100%;
  height: 50%;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.205);
  padding: 0px 10px;
}
.form-section .main form div label {
  font-size: 14px;
}
.form-section .main form .form-div1 {
  grid-area: form-div1;
}
.form-section .main form .form-div1 input {
  width: 98%;
}
.form-section .main form .form-div2 {
  grid-area: form-div2;
}
.form-section .main form .form-div3 {
  grid-area: form-div3;
}
.form-section .main form .form-div4 {
  grid-area: form-div4;
}
.form-section .main form .form-div4 textarea {
  resize: none;
  width: 100%;
  height: 80%;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.205);
  border-radius: 10px;
}
.form-section .main form .form-div5 {
  grid-area: form-div5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-section .main form .form-div5 button {
  padding: 10px 50px;
  border-radius: 10px;
  border: none;
  background-color: #2e292a;
  color: white;
  cursor: pointer;
}
.form-section .main form .form-div5 button i {
  margin-right: 5px;
}
@media (max-width: 768px) {
  .form-section .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "div1" "form" "div2";
  }
  .form-section .main .div1 {
    padding: 20px;
  }
  .form-section .main .div2 {
    justify-content: center;
    padding: 0px;
    flex-direction: column;
  }
  .form-section .main form {
    padding: 0px 15px;
  }
}

/* Footer styles */
footer {
  height: 100%;
  width: 100%;
  background: url(./bg-footer.webp) no-repeat;
  background-size: cover;
  background-position: top;
  padding: 30px;
  display: flex;
  align-items: end;
  overflow: hidden;
  position: relative;
}
footer button {
  padding: 10px 30px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 30px;
  position: absolute;
  transition: all 0.4s ease;
}
footer button:hover {
  transform: scale(1.2);
  cursor: pointer;
}
footer .contact-us {
  top: 3%;
  right: 40%;
}
footer .sell-properties {
  top: 40%;
  right: 80%;
}
footer .buy-properties {
  top: 35%;
  right: 20%;
}
footer .contact {
  height: 40%;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 1fr 1fr;
  grid-template-rows: 1fr 10%;
  grid-template-areas: "div1 div2 div3" "div4 div4 div5";
  background-color: white;
  border-radius: 10px;
}
footer .contact .div1 {
  grid-area: div1;
  padding: 20px 10px;
}
footer .contact .div1 h1 {
  font-size: 1.3vw;
  font-weight: 400;
  letter-spacing: 50px;
}
footer .contact .div2 {
  grid-area: div2;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contact .div2 h6 {
  font-size: clamp(14px, 1.1vw, 18px);
  font-weight: 400;
}
footer .contact .div2 ul {
  margin-top: 30px;
}
footer .contact .div2 ul li {
  list-style: none;
  text-decoration: none;
}
footer .contact .div2 ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
footer .contact .div2 ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .contact .div3 {
  grid-area: div3;
  padding: 25px;
}
footer .contact .div3 h6 {
  font-size: clamp(14px, 1.1vw, 18px);
  font-weight: 400;
}
footer .contact .div3 p {
  margin-top: 50px;
  font-size: 15px;
}
footer .contact .div3 a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 15px;
}
footer .contact .div3 a:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .contact .div4 {
  grid-area: div4;
  display: flex;
  align-items: center;
  padding: 10px;
}
footer .contact .div4 p {
  font-size: 14px;
  font-weight: 300;
}
footer .contact .div5 {
  grid-area: div5;
  padding: 0px 20px;
  display: flex;
  justify-content: end;
}
footer .contact .div5 ul {
  display: flex;
  gap: 25px;
  align-items: center;
}
footer .contact .div5 ul li {
  list-style: none;
  font-size: 14px;
}

@media (max-width: 763px) {
  footer .contact {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto auto auto auto;
    grid-template-areas: "div1" "div2" "div3" "div5" "div4";
  }
  footer .contact .div2, footer .contact .div3, footer .contact .div4, footer .contact .div5 {
    text-align: center;
  }
  footer .contact .div2 ul {
    justify-content: center;
  }
  footer .contact .div5 {
    justify-content: center;
  }
  footer .contact .div1 h1 {
    font-size: 20px;
    letter-spacing: 10px;
  }
  footer .contact-us {
    top: 0%;
    right: 35%;
  }
  footer .sell-properties {
    top: 10%;
    right: 60%;
  }
  footer .buy-properties {
    top: 20%;
    right: 10%;
  }
}
/* FAQ Section */
.FAQ {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 1fr;
  grid-template-areas: "heading house" "question house";
}
.FAQ .heading {
  grid-area: heading;
  display: flex;
  align-items: center;
  padding: 0px 50px;
}
.FAQ .question {
  grid-area: question;
  padding: 0px 50px;
}
.FAQ .question .box {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.FAQ .question .box div {
  flex-grow: 1;
  display: flex;
  align-items: end;
  padding: 10px 10px 10px 0px;
  transition: flex-grow 0.8s ease, color 0.8s ease;
  border-bottom: 2px solid rgba(69, 68, 68, 0.74);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.FAQ .question .box div p {
  position: absolute;
  transform: translateY(30px);
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.FAQ .question .box div:hover {
  flex-grow: 2;
  align-items: start;
  background-color: black;
  color: white;
}
.FAQ .house {
  grid-area: house;
  background: url(./FAQ\ image.webp) no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  .FAQ {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 30% 1fr;
    grid-template-areas: "heading" "house" "question";
  }
  .FAQ .house {
    height: 100%;
  }
  .FAQ .question .box {
    height: 90%;
  }
}
/*Interior MVP Section*/
.interior-mvp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "div1 div2 div3 div4";
  padding: 10px 20px;
}
.interior-mvp div {
  padding: 0px 5px;
}
.interior-mvp div h5 {
  border-top: 2px solid #2e292a;
  padding: 10px 0px;
  margin-top: 10px;
  font-weight: 400;
}
.interior-mvp .div1 {
  grid-area: div1;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 25px;
}
.interior-mvp .div1 img {
  width: 100%;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}
.interior-mvp .div2 {
  grid-area: div2;
}
.interior-mvp .div2 p {
  font-size: 15px;
}
.interior-mvp .div2 button {
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 20px;
  margin: 20px 0px;
  border: 1px solid rgba(69, 68, 68, 0.74);
  cursor: pointer;
  transition: all 0.3s ease;
}
.interior-mvp .div2 button:hover {
  background-color: #2e292a;
  color: white;
}
.interior-mvp .div3 {
  grid-area: div3;
}
.interior-mvp .div3 img {
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}
.interior-mvp .div4 {
  grid-area: div4;
}
.interior-mvp .div4 img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .interior-mvp {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "div1" "div2" "div3" "div4";
    padding: 0px 0px;
    height: 200vh;
  }
  .interior-mvp .div1 {
    justify-content: start;
  }
  .interior-mvp .div1 img {
    height: 100%;
    width: 50%;
  }
  .interior-mvp .div3 img {
    height: 50%;
  }
  .interior-mvp .div4 img {
    height: 50%;
  }
}